<article class="product-listing__product">
    <a href="/product/{{id}}">
        <div class="product-listing__product__inner">
            <img class="product-listing__product__thumbnail" data-src="{{thumbnail}}" alt="Image of the product {{name}}">
            <strong class="product-listing__product__name">
                {{name}}
            </strong>
            <span>{{price}} {{currency}}</span>
        </div>
    </a>
</article>