<li class="product-cart__product">
    <img class="product-cart__product__image" src="{{product.thumbnail}}" alt="">
    <span class="product-cart__product__name">{{product.name}}</span>
    <span class="product-cart__product__price">
    {{qty}} x {{price}} {{currency}}
    <a class="product-cart__product__remove" href="/remove-from-cart/{{product.id}}">delete</a>
    </span>
    
</li>